[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/ryoryoai/ClaudeCodeBootstrap.git
[submodule ".claude/skills/ui-ux-pro-max"]
	path = .claude/skills/ui-ux-pro-max
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill.git
